body {
  background-image: url("/Stemwijzer/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#vragen-container {
  display: none;
}

.back-button:hover {
  color: orangered;
}
.skip-button:hover{
  color: rgb(247, 11, 11);
}
.progress{
  overflow: none;
  border: 8px solid aqua;
}